@import url('https://fonts.cdnfonts.com/css/fashion');
body{
    width: 100%;
    height: 100vh;
    padding: 0;
    margin: 0;
    background-image: url(bg.png);
    background-position: center;
    background-repeat: no-repeat;
}

h3{
    font-family:'Fashion';
    font-size: 50px;
    color: rgb(0, 0, 122);
    font-style: italic;
}


.wrapper{
    display: flex;
    justify-items: center;
    justify-content: center;
    text-align: center;
}

.player1{
    width: 50%;
    height: 50%
}

.player2{
    width: 50%;
    height: 50%
}

.buttons{
    display: block;
    align-items: center;
    border-style: none;
}

button{
    width: 100px;
    height: 50px;
    border-radius: 50px;
    background-color: rgb(0, 123, 180);
    color: white;
    border-style: none;
    border-color: rgb(197, 255, 236);
    transition: 0.5s;
}

button:hover{
    transform: scale(1.1);
    color: black;
}

#btn{
    margin-top: 20px;
}

.Result{
    position: absolute;
    bottom: 50%;
    font-family: Tahoma;
    font-size: 25px;
    align-items: center;
    color: rgb(240, 255, 104);
    background-color: rgb(0, 64, 83);
    width: 160px;
    padding: 40px;
    border-radius: 50px;
    animation: fadeIn 0.5s;
}


@keyframes fadeIn{
    0%{opacity: 0;}
    100%{opacity: 1;}
}